<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AbirAbidi</title>
    <link href="https://fonts.cdnfonts.com/css/roadstore" rel="stylesheet">
                
  
  </head>
<body>
  <style>
    @import url('https://fonts.cdnfonts.com/css/roadstore');
</style>
  <a href="#navbar">
    <div class="gun" (click)="playClickSound()" >
      <img src="assets/gun.png " alt="gun">
    </div>
    <audio #clickSound>
      <source src="assets/gunshot.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </a>
  
     <div class="navbar" *ngIf="!showIcon" id="navbar">
      <div class="nav-links">
        <a href="assets/cv.pdf" class="link_cv" download="abir abidi cv">Download CV</a>
        <a href="#contact">Contact</a>
        <a href="#skill">Skills</a>
        <a href="#about">About</a>
        <a href="#page1">Home</a>
      </div>
      
    </div>
    <div class="icon-container" *ngIf="showIcon" >
      <img class="icon" src="assets/navbar.png" alt="navbar" (click)="toggleDrawer()"> 
   </div>
    <div class="drawer" [ngClass]="{'open': isDrawerOpen}" id="scrollhide" *ngIf="!isScrollHidden">
      <!-- Drawer content here -->
      <ul class="nav-options">
          <li><a routerLink="#home">Home</a></li>
          <li><a routerLink="#about">About</a></li>
          <li><a routerLink="#skill">Skill</a></li>
          <li><a routerLink="#contact">Contact</a></li>
        </ul>
    </div>
    <div class="{{ mainClass }}">
<!--   ----PAGE 1----   -->
<div class="page1" id="page1">
  <!--MY NAME DIV -->
 <div class="front">
    <div class="div">
      <h1>
        welcome to my universe !
        <br>
        where i'am a <b>mafia boss</b>  and you're here to know me better XD.
     <br>
        Hi i'am <b>Abir</b>
      and ...
      </h1>
     
    </div>
    <div class="gangstar" title="Click to watch the movie !">
      <a target="_blank" href="https://www.netflix.com/ca/title/70002022">
        <img src="assets/gangstar.png" alt="gangstar">
      </a>
    </div>

</div> 
<div class='icon-scroll'></div>

<h1 class="h1" id="about">About me </h1>

<div class="scrolling">
  <a href="#page2">
    
  </a>

  <!--WHAT I AM DIV-->
          <div class="head">
           <!-- 
            <ul style="list-style-type:none;">
              <li>Front-end developer</li>
              <li>Full Stack mobile developer with flutter</li>
              <li>Micro-Computing and Embedded Machines student</li>
          </ul>--> 

<div class="content2">
  <div class="video">
    <video controls autoplay loop >
      <source src="assets/movie.mp4" type="video/mp4">
      <source src="assets/movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="all">
    <div class="name1"> I'm <b>Abir ABIDI </b>and I'am </div>
    <div class="change_text_container">
         
       <div>  <br class="br1"><br class="br2">  <b class="typing-text">{{ currentText }}</b></div>
      </div>
       <br>
     <div class="description">
      The only possible question here is why the mafia ?
      <br>
      Well first of all why not and second 
      <br>
      you know it and i know it , no one is free
      <br>
      but for sure the mafia are 🎩.
      <br>
      Still interested ? Download cv below.
    <div class="lcv">
      <div class="cv">
        <a href="assets/cv.pdf" class="link_cv" download="abir abidi cv">
          <p>
            Download my cv
          </p>
        </a>
      </div>
      <div class="or">Or</div>
<!--SOCILA MEDIA DEV -->
<div id="imgs">
<a href="https://github.com/AbirAbidi" target="_blank"><img src="assets/github.png" id="github" height="50px" width="50px"></a> 
<a href="https://www.linkedin.com/in/abidi-abir-995b13223/" target="_blank"> <img src="assets/linkedin.png" id="linkedin" height="50px" width="50px"></a>
</div>

    </div>
      
     </div>
     <!-- <div class="fixed">
      <div id="cv">
        <a href="fils/prototype_cv.pdf" class="link_cv" download="abir_abidi_cv">
          <p>
            Download my cv
          </p>
        </a>
      </div>
    </div> -->
    
  </div>
  
  
  
  
</div>

          </div>
</div>



</div>

<!-- ------PAGE 2 ---------  -->
<div class="page2" id="page2">
<br>
<br>
<br>
<!--SKILLS-->
<h1 id="skill">SKILLS</h1>

<div class="container_2">
    <div class="pink_container"  >
            <div class="grey_container" *ngFor="let course of courses; let i = index" >
               <div class="content_wrapper">
                <div class="infos">
                   <h3>{{ course.title }}</h3>
                </div>
                <div class="centered_images">
                  <div class="image-course" *ngFor="let image of course.images" >
                    <img src="{{ image }}" alt="pics">
                   </div>
                </div>
                
                   
               </div>
                
                
            </div>
    </div>

</div>




<!--      <p>Python , java , javascript ,Object Oriented Programming , dart , flutter , Html/Css , C , Assembly 8086 , Prolog , Arduino Programming , Firebase</p>
-->

</div>
<hr>
<!-- -------PAGE 3 ----------  -->
<div class="page3" id="contact">
<!--TEXTAREA -->
<h1 id="skill">Contact Me</h1>
<div class="last_part">
<div class="block2">
  <div class="divmail">
    <label for="email" class="email_label">Enter your  email:</label>

  </div>
<div>
<input type="email" class="input_email" >
</div>

<textarea class="textarea"  >
</textarea>
</div>
<div class="me">
<img src="assets/me.png" alt="literally_me">
</div>  
</div>


<div class="send" >
<div class="div_button">
Send to abir 
</div>
</div>

</div>

<footer class="footer">
<div class="footer1">
<div class="street">
  Rue basatine <br> <strong>Tunis,Tunisie</strong> 
</div>
<div class="phone"><strong>+216 50509694</strong></div>
<div class="email"><strong>abira7344@gmail.com</strong></div>
</div>
<div class="footer2">
<div class="ftitile"><strong>About me</strong></div>
<div class="boutme">The kindest most brutal person <br>For more info <strong>go up</strong></div>
</div>
</footer>
    </div>
</body>
</html>

