/* You can add global styles to this file, and also import other style files */

html{
    scroll-behavior: smooth;
    font-family:Montserrat;
    

}
html, body { 
    font-family:Montserrat;
    margin: 0;
   background:    linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(145, 0, 0) 62%, rgba(224,0,0,1) 92%);
}

body { margin: 0; 
}
